@import '../../../variables.scss';

.button {
    background: $blueColor;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 240px;
    padding: 25px 0;

    transition: opacity .3s ease;

    img {
        margin-left: 20px;
    }
}

.wholeButton {
    &:hover {
        opacity: .7;
    }
}

.hollow {
    background: transparent;
    border: 2px solid $blueColor;
    color: $blueColor;

    transition: color .3s ease, background-color .3s ease;

    &:hover {
        background-color: $blueColor;
        color: #fff;
    }
}