@import '../../../variables.scss';
@import '../../../mixins.scss';

.warning {
    background: #fff;
    padding: 35px 35px 35px 165px;
    font-size: 18px;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 50px;
    position: relative;

    &::before {
        content: "i";
        font-size: 60px;
        font-weight: 900;
        display: block;
        position: absolute;
        left: 75px;
        top: 50%;
        transform: translateY(-50%);
        @include colorTextWithGradient(54deg, $startColorGradient, $endColorGradient);
    }

    &::after {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -2px;
        border-radius: inherit;
        background: linear-gradient(54deg, $startColorGradient, $endColorGradient);
    }
}

.placeholder {
    width: 100vw;
    height: 100vh;
    background: rgba(#fff, .9);
    filter: blur(20px);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.popup {
    width: 940px;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 50px;
    z-index: 1500000000000;

    overflow: hidden;

    border-radius: 80px;

    background: #fff;

    box-shadow: 5px 5px 50px rgba(0, 0, 0, .3);
    animation: fadeUp .3s ease;
    animation-fill-mode: forwards;

    &.bonus {
        width: 80%;
        padding: 0 50px;
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;

    margin-top: 60px;
}

@keyframes fadeUp {
    0% {
        transform: translate(-50%, -20%); 
    }

    100% {
        transform: translate(-50%, -50%); 
    }
}

.congratsContainer {
    display: flex;
    justify-content: space-between;

    img {
        margin-left: 100px;
    }

    span {
        display: block;
        font-size: 18px;
        font-weight: 500;
        line-height: 36px;
    }

    button {
        margin-top: 30px;
    }
}

.congratsTitle {
    text-transform: uppercase;
    font-size: 24px;
    @include colorTextWithGradient(54deg, $startColorGradient, $endColorGradient);
    margin-bottom: 35px;
}

.congratsText {
    min-width: 480px;
}

.input {
    display: block;
    padding: 15px 15px;
    font-size: 16px;
    border-radius: 15px;
    border: 2px solid #1eacef;
    font-family: 'Montserrat', sans-serif;
}

textarea.input {
    min-height: 100px;
    max-height: 200px;
    resize: vertical;
}

.label {
    display: block;

    font-size: 16px;
    margin-bottom: 15px;
}

.inputContainer {
    margin-bottom: 15px;
}

.fieldContainer {
    position: relative;

    display: flex;
    flex-direction: column;
}

.fieldError {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    z-index: 5;    
    font-family: 'Montserrat', sans-serif;
}

.becomeDevBtnContainer {
    display: flex;
    justify-content: center;
}

.error {
    width: 80%;
}

.close {
    color: #000;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    top: 15px;
    right: 30px;
}

@media screen and (max-width: 992px) {
    .popup.bonus {
        padding: 0 25px;
    }

    .popup.bonus {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .popup.bonus {
        padding: 0 10px;
        border-radius: 0;
        height: 100vh;
    }

    .popup {
        overflow: scroll;
    }
}