@import '../../../variables.scss';
@import '../../../mixins.scss';

.snippet {
    margin-top: 150px;

}

.inner {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #096db1;

    &.reversed {
        flex-direction: row-reverse;

        .item {
            &:first-child {
                max-width: 650px;
            }
        }
    }
}

.item {
    font-size: 24px;
    font-weight: 700;
    padding-top: 60px;
    
    position: relative;

    &:first-child {
        font-size: 48px;
        max-width: 560px;
        font-style: italic;
        @include colorTextWithGradient(54deg, $startColorGradient, $endColorGradient);

        &.black {
            font-size: 24px;
            background: transparent;
            -webkit-text-fill-color: #000;
            background-clip: initial;
            -webkit-background-clip: initial;
            color: #000;
            font-style: initial;
        }
    }

    &:nth-child(2) {
        max-width: 450px;
    }

    &:nth-child(3) {
        max-width: 430px;
    }

    &::before {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background: #096db1;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: -9px;
    }
}

@media screen and (max-width: 1200px) {
    .inner {
        flex-direction: column;

        padding-top: 0;
        border-top: 0;

        padding-left: 25px;
        border-left: 1px solid $blueColor;
    }

    .item {
        padding-top: 0;

        &::before {
            left: -34px;
            top: 0;
        }

        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    .snippet {
        margin: 0 70px;
    }
}

@media screen and (max-width: 576px) {
    .item {
        font-size: 25px;

        &:nth-child(1) {
            font-size: 28px;
        }
    }

    .snippet {
        margin: 0;
    }
}

