@import '../../../mixins.scss';
@import '../../../variables.scss';

.affiliateProgram {
    margin-top: 180px;
    margin-bottom: 70px;
}

.bonusItem {
    width: 300px;
    height: 320px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    border-radius: 50px;
    border: 1px solid #000;
    padding-bottom: 60px;

    position: relative;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.mark {
    @include colorTextWithGradient(54deg, $startColorGradient, $endColorGradient);
    font-weight: 900;
}

.bonuses {
    display: flex;

    margin-top: 130px;
}

.title {
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    
    margin-bottom: 60px;
}

.subtitle {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}

.bonusImage {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.bonusName {
    font-size: 24px;
    font-weight: 900;
}

// Direct and Binary Bonus



.features {
    display: grid;
    place-items: center;
    height: 930px;
    margin: 150px 0;
    background: url('../../../assets/index-page/features.jpg') center no-repeat;
    background-size: cover;
}

.featuresInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    padding-left: 80px;
    width: 40%;

    position: relative;

    &::before {
        content: "";
        display: block;
        width: 10px;
        height: 70px;
        background: linear-gradient(54deg, $startColorGradient, $endColorGradient);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%) skew(-15deg);
    }

    &:last-child {
        width: 55%;
        margin: 0 auto;

        p {
            max-width: 780px;
        }
    }

    &:not(:last-child) {
        margin-bottom: 140px;
    }

    p {
        max-width: 510px;
    }
}



@media screen and (max-width: 1600px) {
    .bonusItem {
        min-width: 300px;
    }

    .bonuses {
        overflow-x: scroll;

        padding: 50px 0;
        margin-top: 100px;
    }

    .innerBinary {
        flex-direction: column;
    }

    .table {
        min-width: 1178px;
        margin: 0 auto;
    }

    .text {
        width: 70%;

        padding-left: 0;
        margin: 70px auto;
    }

    .rankAndTeamBonusInner {
        .text {
            width: 70%;
        }
    }

    .rankAndTeamBonus {
        overflow-x: scroll;

        &.conditionsSection {
            overflow-x: initial;
        }
    }

    .rankAndTeamTable {
        padding: 30px;
        min-width: 1600px;
    }

    .rankAndTeamBonusInner {
        flex-direction: column;
    }

    .conditions {
        .tableRank.bonus {
            .columnTitle {
                max-width: 300px;
            }
        }
    }

    .rankAndTeamBonus {
        position: relative;
        .tableContainer {
            overflow-y: hidden;
            overflow-x: scroll;
    
            padding-bottom: 50px;
        } 
    }

    .teamBonusInner {
        position: initial;
        padding: 30px;
        min-width: 1400px;
    }

    .person {
        p {
            font-size: 14px;
            margin: 15px 0 15px;
        }

        .partnerImage {
            position: relative;
            z-index: 100;
        }
    }

    .partnerText {
        font-size: 14px;
    }

    .lineNumber {
        width: 35px;
    }

    .lineAllHeight {
        height: 450px;
        bottom: 70%;
    }

    .resultUsdc {
        width: 320px;
        left: 1000px;
    }

    .peopleTeamBonus {
        width: 190px;
        height: 130px;
        border-radius: 34px;
        padding: 20px;
        font-size: 14px;
        line-height: 21px;
    }

    .fastBonusInner {
        padding: 30px;
    }
}

@media screen and (max-width: 1500px) {
    .fastStartBonus {
        overflow-y: hidden;
        overflow-x: scroll;

        padding-bottom: 105px;
    }

    .fastBonusInner {
        min-width: 1500px;
    }
}

@media screen and (max-width: 1200px) {
    .tableContainer {
        overflow-y: hidden;
        overflow-x: scroll;

        padding-bottom: 50px;
    }
}
@media screen and (max-width: 992px) {
    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 30px;
    }

    .rankAndTeamBonusInner {
        .text {
            width: 100%;
        }
    }

    .conditions {
        .tableContent {
            .talbeRank {
                .columnTitle {
                    margin-bottom: 25px;
                }
            }
        }
    }


}

@media screen and (max-width: 768px) {
    .rankTitle {
        font-size: 20px;
        max-width: 190px;
    }

    .columnTitle {
        font-size: 14px;
        font-weight: 900;
    }

    .rankAndTeamTable {
        min-width: 920px;
    }

    .tableRank {
        font-size: 16px;

        &:first-child {
            span {
                &:not(:last-child) {
                    margin-bottom: 25px;
                }
            }
        }
    }
    .teamBonus {
        .teamBonusContent {
            .teamBonusRow {
                &:not(:last-child) {
                    margin-bottom: 25px;
                }
                span {
                    font-size: 16px;
                }
            }
        }
    }

    .lines {
        font-size: 16px;
        text-align: center;
    }

    .rankTeamTableAdditional {
        padding: 35px;
        font-size: 14px;
        line-height: 18px;
        max-width: 350px;
        border-radius: 60px;
        right: -16px;
        top: 300px;
    }

    .tableRank.bonus {
        .columnTitle {
            margin-bottom: 126px;
        }
    }

    .lines {
        padding: 13px 25px;
    }

    .tableRank {
        padding: 20px;
    }

    .tableRank.bonus {
        .columnTitle {
            max-width: 140px;
        }
        span {
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }

    .teamBonusImage {
        bottom: 70px;
    }

    .rankAndTeamTable.conditions {
        .tableRank {
            &:first-child {
                width: 15%;
                .columnTitle {
                    margin-bottom: 70px;
                }
            }
        }
    }

    .fastBonusInner {
        min-width: 1300px;
    }

    .fastBonusColumn {
        &.example {
            padding: 20px;
            width: 38%;
        }

        &:first-child {
            width: auto;
        }
    }
    
    .fastBonusTerms {
        font-size: 20px;
    }
    
    .fastBonusText {
        font-size: 16px;
    }

    .gift {
        font-size: 20px;
    }

}

@media screen and (max-width: 576px) {
    .table {
        padding: 30px 30px 115px 30px;
        min-width: 950px;
    }

    .tableTypes {
        width: 210px;
    }
    
    .tableTitle {
        font-size: 20px;
        font-weight: 900;
        max-width: 160px;
    }

    .typeItem {
        font-size: 16px;
    }

    .row {
        margin-bottom: 88px;
    }

    .typeItem {
        &:not(:last-child) {
            margin-bottom: 49px;
        }
    }

    .text {
        width: 100%;
    }

    .fastBonusText {
        font-size: 14px;
        line-height: 18px;
    }

    .fastBonusColumn {
        &:first-child {
            width: 13%;
        }
    }

    .affiliateProgram {
        margin-top: 70px;
    }
}