@import '../../variables.scss';

.treeMain {
    background: #ececec;

    padding-top: 130px;
}

.referal {
    margin-top: 30px;
}

.buttons {
    display: flex;
    justify-content: space-between;

    margin-bottom: 45px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 40px;
}

.buttonsLeft {
    display: flex;
    align-items: center;
}

.dropDown {
    font-size: 20px;
    padding: 15px 35px;
    width: 320px;
    border: 1px solid #000;
    border-radius: 50px;

    margin-right: 30px;

    position: relative;
    z-index: 500;

    display: flex;
    align-items: center;
}

.dropDown::after {
    content: "";
    display: block;
    position: absolute;
    right: 35px;
    top: 50%;
    transform: trasnlateY(-50%);

    border: 5px solid transparent;
    border-top: 5px solid #000;
}

.mark {
    color: $blueColor;
}

.dropDownContent {
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    z-index: 1000;

    span {
        display: block;

        padding: 15px 35px;
        z-index: 500;
        border: 1px solid #000;

        &:hover {
            background: $blueColor;
            color: #fff;
        }
    }
}



.buttonsNav {
    display: flex;

    & button {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.dropDown {
    cursor: pointer;

    user-select: none;
}

.hidden {
    display: none;
}

.dropDownContent {
    background-color: #fff;
}

.copyLink {
    display: flex;
    align-items: center;

    cursor: pointer;
}

.copyImg {
    margin-left: 60px;
}

.referralLink {
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: space-between;
}

.teamHeader {
    display: flex;
    align-items: center;

    margin-bottom: 10px;

    &.yourAccount {
        display: block;
        margin-bottom: 0;
    }
}

.teamTitle {
    font-size: 24px;
}

.teamKind {
    padding: 10px 35px;
    margin-left: 45px;
    background: linear-gradient(to right, #6c80ef, #549cde);
    border-radius: 25px;

    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.teamValue {
    padding: 35px 50px;

    background: #445ca5;
    color: #fff;
    font-size: 18px;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;


    span {
        display: block;

        img {
            margin-right: 30px;
        }

        &:last-child {
            margin-top: 35px;

            font-size: 30px;
            font-weight: 700;

            display: flex;
            align-items: center;
        }
    }

    &.yourAccount {
        margin-top: 21px;
        background: linear-gradient(to top, $startColorGradient, $endColorGradient);

        span {
            &:last-child {
                 margin-top: 14px;
            }
        }
    }
}

.footerInfo {
    padding: 35px 50px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    height: 350px;

    background: #fff;

    &.yourAccount {
        background: linear-gradient(rgba(#7e8fd9, .5), rgba(#8bb4d2, .5));
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.team {
    width: 32%;
}

.itemNumber {
    font-size: 20px;
}

.teamInfoItem {
    display: flex;
    justify-content: space-between;

    font-size: 22px;

    span {
        width: 55%;

        &:last-child {
            padding-left: 15px;
            width: 45%;
        }
    }

    &:not(:last-child) {
        margin-bottom: 35px;
    }
}

.referralTree {
    margin: 0 0 50px;
    padding: 130px 0 150px;
}

.treeRow {
    position: relative;

    display: flex;

    &:not(:last-child) {
        margin-bottom: 120px;
    }
}


.firstLine {
    padding-top: 10px;
    .treeItem {
        position: relative;
        right: -275px;

        &:last-child {
            right: -940px;
        }
    }
}

.secondLine {
    padding-top: 10px;

    .treeItem {
        position: relative;

        &:nth-child(3) {
            right: -70px;
        }
        &:nth-child(4) {
            right: -320px;
        }
    
        &:nth-child(5) {
            right: -570px;
        }

        &:nth-child(6) {
            right: -820px;
        }
    }
}

.thirdLine {
    padding-top: 10px;

    .treeItem {
        position: relative;

        &:nth-child(5) {
            right: 10px;
        }
        &:nth-child(6) {
            right: -20px;
        }
        &:nth-child(7) {
            left: 50px;
        }
        &:nth-child(8) {
            left: 80px;
        }
        &:nth-child(9) {
            left: 149px;
        }
        &:nth-child(10) {
            left: 179px;
        }
        &:nth-child(11) {
            left: 220px;
        }
        &:nth-child(12) {
            left: 250px;
        }
    }
}

.treeFirstRowImage {
    position: absolute;
    bottom: 100%;
    left: 781px;
    transform: translateX(-50%);
    z-index: 50;
}

.treeItem {
    background: #cdddf9;

    min-width: 170px;
    height: 170px;
    border-radius: 20px;
    text-align: center;
    padding: 13px 25px;

    &.freePlace {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;

        .referralUserFooter {
            font-weight: normal;
        }
    }
}

.referralUserFooter {
    margin-top: 10px;
    
    font-size: 20px;
    font-weight: 700;
}

.referralSubscrType {
    margin-top: 15px;
    padding: 6px 0;
    font-size: 12px;

    display: flex;
    align-items: center;

    img {
        width: 28px;
        height: 28px;

        margin-right: 12px;
    }
}

.secondRowImage {
    position: absolute;
    bottom: 100%;
    left: 145px;
    z-index: 50;

    &.secondLine {
        left: 985px;
    }
}

.thirdRowLine {
    position: absolute;
    bottom: 100%;
    left: 50px;

    &.second {
        left: 470px;
    }

    &.third {
        left: 900px;
    }

    &.forth {
        left: 1315px;
    }
}

.mobileAccount {
    display: none;
}

.buttonsNav {
    &.mobileButtons {
        display: none;
    }

    button {
        width: 210px;
    }
}

.width360 {
    width: 360px;
}

.treeToggle {
    font-size: 18px;
    color: #000;
    height: 60px;
    width: 280px;
    border: 1px solid #000;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;

    display: none;
    justify-content: space-between;
    align-items: center;

    position: relative;
    margin: 0 auto;

    span {
        padding: 0 45px;
        text-transform: uppercase;

        position: relative;
        z-index: 100;

        transition: color .3s ease;
    }

    .white {
        color: #fff;
    }

    .toggler {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #20aff0;
        border-radius: 30px;

        transition: transform .3s ease;

        &.moved {
            transform: translateX(100%);
        }
    }
}

.referralHeader {
    padding-top: 130px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.walletInfo {
    display: flex;

    p {
        font-size: 24px;
        margin-right: 80px;
    }
}

.newsContainer {
    margin-top: 75px;
}

@media screen and (max-width: 1550px) {
    .info {
        flex-direction: column;
        align-items: center;

        .team {
            width: 60%;
            &:nth-child(2) {
                order: 3;
            }

            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }

    .referralTree {
        overflow-x: scroll;
    }
}


@media screen and (max-width: 1500px) {
    .buttons {
        flex-direction: column;
    }

    .buttonsNav {
        margin-top: 25px;
        align-self: flex-end;
    }
}

@media screen and (max-width: 1100px) {
    .treeToggle {
        display: flex;
    }

    .treeFirstRowImage {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .buttonsNav {
        flex-direction: column;
        align-items: center;
        width: 100%;

        button {
            width: 80%;
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }

    .buttonsLeft {
        flex-direction: column;
    }

    .copyLink {
        margin-top: 25px;
        font-size: 20px;
    }

    .dropDown {
        width: 80%;
        margin-right: 0;
    }

    .title {
        display: none;
    }

    .info {
        .team {
            width: 100%;
            height: 350px;

            &:not(:last-child) {
                margin-bottom: 70px;
            }

            &:nth-child(2) {
                height: auto;
            }
        }
    }

    .footerInfo {
        padding: 30px;
        height: auto;
    }

    .teamValue {
        padding: 30px;

        span {
            &:last-child {
                font-size: 28px;
                margin-top: 10px;
            }
        }
    }

    .teamHeader {
        justify-content: space-between;
    }

    .teamKind {
        margin-left: 0;
        width: 170px;
        height: 50px;
        padding: 0;

        display: grid;
        place-items: center;
    }
}

@media screen and (max-width: 576px) {
    .copyLink {
        position: relative;
        padding-bottom: 40px;
        width: 100%;
        text-align: center;
    }

    .referralLink {
        display: block;
        width: 100%;
        word-wrap: break-word;
    }

    .copyImg {
        margin-left: 0;

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .dropDown {
        width: 100%;
    }

    .buttonsNav {
        button {
            width: 100%;
        }
    }

    .team {
        &:nth-child(2) {

            .teamInfoItem {
                width: 100%;
                flex-direction: column;

                span {
                    display: block; 
                    width: 100%;
                }

                span.mark {
                    padding-left: 0;
                }
            }
        }
    }
}