@import '../../../variables.scss';

.container {
    padding: 80px 0 100px;
    background: url('../../../assets/index-page/shapes.png') left top no-repeat;
}

.inner {
    display: flex;
    justify-content: flex-end;
}

.content {
    width: 65%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text {
    width: 40%;

    font-size: 24px;
    letter-spacing: 3px;

    &:last-child {
        width: 100%;

        margin-top: 65px;
    }
}

.mark {
    color: $blueColor;
    font-weight: 900;
}

.quote {
    background-color: #d2ceea;
    box-shadow: inset 150px 0 70px #fff;

    margin-top: 150px;

    position: relative;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: inset -150px 0 70px #fff;
    }
}


.quoteContainer {
    padding: 120px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    width: 80%;
    margin: 0 auto;

    background-color: #c4bfe3;
    border-radius: 200px;
    box-shadow: inset 0 5px 70px #a19ce7;
}

.quoteText {
    font-size: 36px;
    letter-spacing: 3px;
    max-width: 960px;
}

.reference {
    font-size: 18px;

    margin-top: 40px;
}