@import '../../../variables.scss';

.container {
    margin-top: 150px;
    background: url('../../../assets/index-page/CVR.png') right top no-repeat;
}

.inner {
    max-width: 45%;

    padding: 70px 0 120px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 3px;

    width: 650px;

    margin-bottom: 80px;
}

.mark {
    color: $blueColor;
    font-weight: 900;
}

.rules {
    display: block;
    margin-bottom: 45px;
}

.text {
    font-size: 24px;
    letter-spacing: 2px;

    &:not(:last-child) {
        margin-bottom: 45px;
    }
}

.link {
    font-weight: 900;
    font-size: 18px;

    .mark {
        text-decoration: underline;
    }
}

.small {
    font-size: 18px;
}