.container {
    max-width: 1560px;
    width: 100%;
    margin: 0 auto;
}

.bg-image {
    background: url('./assets/index-page/bg.jpg') top center no-repeat;
    background-size: cover;
}

.white {
    background: #fff;
}