@import './variables.scss';
@import './mixins.scss';

.container {
    max-width: 1560px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.white {
    background: #fff;
}

.overflow-hidden {
    overflow-x: hidden;
}

.mark {
    @include colorTextWithGradient(54deg, $startColorGradient, $endColorGradient);
}