@import '../../../variables.scss';
@import '../../../mixins.scss';

.warning {
    background: #fff;
    padding: 35px 35px 35px 205px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    position: relative;
    margin-top: 80px;

    width: 70%;
    margin: 0 auto;

    &::before {
        content: "i";
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px #20aff0;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        font-size: 53px;
        font-weight: 900;
        position: absolute;
        left: 75px;
        top: 50%;
        transform: translateY(-50%);
        @include colorTextWithGradient(54deg, $startColorGradient, $endColorGradient);
    }

    a {
        color: #000;
    }
}