@import '../../../variables.scss';

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    max-width: 630px;
    margin: 0 auto;

    margin-bottom: 200px;
}

.title {
    font-weight: 900;
    font-size: 36px;
    letter-spacing: 3px;

    margin-bottom: 45px;
}

.subtitle {
    font-size: 36px;
    font-weight: 300;
}

.title span, .subtitle span  {
    color: $blueColor;
}

.connect {
    padding: 30px 30px 30px 100px;
    margin-top: 60px;
    font-size: 18px;
    letter-spacing: 3px;
    background: url('../../../assets/index-page/metamask.png') left no-repeat;
    box-shadow: 1px 2px 9.3px 0.7px #fff;
    background-position-x: 30px;
    background-color: #fff; 
    border-radius: 45px;

    transition: opacity .3s ease, box-shadow .3s ease;

    &:hover {
        opacity: .7;
        box-shadow: 1px 2px 9.3px 0.7px #ccc;
    }
}

.text {
    font-size: 18px;
    letter-spacing: 2px;
}

.link {
    display: inline-block;
    font-weight: 700;
    text-decoration: underline;

    margin-top: 35px;
}