@import '../../../variables.scss';

.program {
    margin-top: 280px;
}

.mark {
    color: $blueColor;
}

.text {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 36px;

    max-width: 670px;

    &:not(:last-child) {
        margin-bottom: 70px;
    }
}

.weightBlack {
    font-weight: 900;
}

.title {
    text-align: center;
    font-weight: 900;
    font-size: 72px;
    letter-spacing: 5px;

    margin-bottom: 100px;
}

.list {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    margin: 110px auto 180px auto;
}

.listItem {
    padding: 30px 0 30px 130px;
    background: url('../../../assets/index-page/check-icon.png') left center no-repeat;

    font-size: 24px;
    font-weight: 900;
    line-height: 48px;
}